/*LIFE NECESSASY SETTINGS */

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

/* WRITE CODE HERE */

html {
    height: 100%;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
    height: 100%;
    overflow-x:hidden;
}

a {
    color: #000;
}

.header {
    background-image: url(../img/header_bg.jpeg);
    background-position: center;
    margin: 0 auto;
    background-repeat: no-repeat;   
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;  
    
}

.top_line {
    width: 100%;
    height: 3.750em;
    background: rgba(125, 135, 135,.7);
}

.logo {
    float: left;
    min-width: 50%;
    height: 3.750em;
    cursor: pointer;
}

.logo h1{
    font-family: "Alfaslab", sans-serif;
    font-size: 1.87em;
}

.menu {
    height: 3.750em;
    float: right;
    min-width: 50%;
}

.menu ul {
    height: 3.750em;
    font-size: 0;
    
}

.menu li {
    display: inline-block;
    font-size: 16px;  
    margin-top: 2.188em;
}


.menu a {
    color: #000;
    font-family: "Alfaslab", sans-serif;
    text-transform: uppercase;
    padding: 1.250em 1.563em 0.125em;
}

.big_icon {
    background: rgba(125, 135, 135,.7);
    width: 18.750em;
    height: 18.750em;
    margin: calc(50% - 18.750em) 0 0 calc(50% - 9.375em);
    border-radius: 20%;
}

.big_icon img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px 75px;
}

.big_icon h1, p {
    text-align: center;
    margin-top: -10px;
    font-family: "RobotoBold";
}

.big_icon h1 {
    font-family: "RobotoBold";
    font-size: 1.6em;
}

