/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .big_icon {
        margin-top: 18em;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .menu ul {
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .big_icon {
        margin-top: 15em;
    }
    .big_icon img {
        margin-bottom: 2em;
    }
}

/* ADDITIONAL MEDIA REQUIREMENTS*/
@media only screen and (max-width : 740px) {
    .big_icon {
        margin: 15em auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .logo {
        font-size: 1em;
    }
    .big_icon {
        width: 15em;
        height: 15em;
        margin: 13em auto;
    }
    .big_icon img {
        margin: 0.325em 0 1em calc(50% - 3.5em);
        width: 7em;
        height: 7em;
    }
}

/* ADDITIONAL MEDIA REQUIREMENTS */
@media only screen and (max-width : 350px) {
    .overlay a {
        font-size: 2em;
        text-align: center;
    }
    .logo h1 {
        font-size: 1.1em;
        margin-top: 0.7em;
        margin-left: 0.3em;
    }
    .big_icon h1 {
        font-size: 1.4em;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .header {
       min-height: 35.5em; 
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 770px) {
    .header {
        min-height: 48.125em;!important
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
       .header {
        min-height: 62em;!important
    }
       .menu_open{
        display: none;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .header {
        min-height: 75em;!important
    }
}